.item {
    background-color: #ffebcd;
    border: 1px solid gold;
    font: 15px "Shabnam FD";
    color: #000;
    text-align: center;
    line-height: 33px;
}

.food {
    background-color: green;
    font: 15px "Shabnam FD";
    color: #000;
    text-align: center;
    line-height: 33px;
}

.snake {
    background-color: red;
    font: 15px "Shabnam FD";
    color: #000;
    text-align: center;
    line-height: 33px;
}